.footer{
    width: 100%;
    padding: 6rem 0;
    background-color: rgba(19, 19, 19, 0.8);
}
.footer-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}
.left-side{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.location{
    display: flex;
    margin-bottom: 0.8rem;
}
.location p{
    line-height: 30px;
}
.right-side{
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;

}
h3{
    color: #eee;
}
.social{
    margin-top: 1rem;
}
h4{
    font-size: 1.2rem;
    padding-bottom: 0.7rem;
}
p{
    font-size: 1.2rem;
}
.copy{
    width: 100%;
    padding: 10px 0;
    text-transform: capitalize;
    text-align: center;
    color: #eee;
}
.copy span{
    color: rgb(248, 217,15);
    font-weight: 600;
}
.copy .bar{
    border-bottom: 1px solid #eee;
    width: 50%;
    margin: 1.5rem auto;
    display: block;

}
/* .social{font-size: 1.6rem;
    line-height: 2rem;
    width: 2rem;height: 2rem;
    background: var(--mediumteal);
    color: #eee;
    text-align: center;
} */

@media screen and (max-width:640px) {
    .footer-container{
        grid-template-columns: 1fr;
    }
}